.col-1{width: 8.33333%;}
.col-2{width: 16.66667%; }
.col-3{width: 25%; }

.col-4{width: 33.33333%;height: 100%;}
.col-5{width: 41.66667%; }
.col-6{width: 50%; }
.col-7{width: 58.33333%; }
.col-8{width: 66.66667%;}
.col-9{width: 75%; }
.col-10{width: 83.33333%; }
.col-11{width: 91.66667%; }
.col-12{width: 100%; }

body{

	line-height: 1.5;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}




.spanIn{
	
	
	padding: 5px;
	letter-spacing: 0;
  	line-height: 0.0;

}
h1, h2, h3,h4{
	line-height: .7;

}
h1{font-size: 4em;}
h2{font-size: 3em;
letter-spacing: .1em;}
h3{font-size: 2.0em;}
h4{font-size: 1em;}

p{
	color:inherit;
	margin: 0 3%;
	text-align: justify;
}


.center{
	margin: 0 auto;
}
span {
	padding: 0 10px;
		color: black;
		text-shadow: 1px 1px 6px pink, -1px -1px 6px orange;}




.text-center-v{
	
	vertical-align: middle;
}
.text-center-h{
	
	text-align: center;
	
}
.text-justify{
	display: block;
	text-align: justify;
}



.clear{
	clear: both;
}

.float-left {
  float: left ; }

.float-right {
  float: right ; }

.float-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }




.corners {
    /*border-radius: 25px;*/
    /*border-radius: 15px 50px 30px 5px;*/
   /*border-radius: 50px/25px;*/
    
    border-radius: 30px/50px;
      
}

